<div>
    <div class="article-preview" *ngFor="let article of articles">
        <div class="article-meta">
            <a [routerLink]="['/profile', article.author.username]"><img style="width: 200px" src="{{ article.author.image }}" /></a>
            <div class="info">
                <a [routerLink]="['/profile', article.author.username]" class="author">{{ article.author.username }}</a>
                <span class="date">{{ article.createdAt }}</span>
            </div>

            <button class="btn btn-outline-primary btn-sm pull-xs-right"><i class="ion-heart"></i>
        {{ article.favoritesCount }}</button>
        </div>

        <a class="preview-link" [routerLink]="['/articles', article.slug]">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <span>Read more...</span>
        </a>

    </div>

    <nz-pagination *ngIf="!isLoading" [nzPageIndex]="currentPage" [nzTotal]="articlesCount" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>

    <p *ngIf="isLoading">Please wait... loading articles</p>
</div>