<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" [nzBreakpoint]="'lg'">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu>
                <span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
                <ul>
                    <li nz-menu-item>Tom</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                </ul>
            </li>
            <li nz-submenu>
                <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
                <ul>
                    <li nz-menu-item>Team 1</li>
                    <li nz-menu-item>Team 2</li>
                </ul>
            </li>
            <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">File</span></span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="pa-0">
            <div nz-row>
                <div nz-col nzSpan="8">
                    <i class="trigger text-white" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
                </div>
                <div class="text-right pr-4" nz-col nzSpan="8" nzOffset="8">
                    <a class="text-white mr-4">Sign In</a>
                    <a class="text-white">Sign Up</a>
                </div>
            </div>
        </nz-header>
        <nz-content class="mt-0 ml-4">
            <nz-breadcrumb class="mt-4 mb-4">
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="wrapper">

                <router-outlet></router-outlet>

            </div>
        </nz-content>
        <nz-footer class="text-center">Ant Design ©2017 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>

<ng-template #trigger>
    <i nz-icon type="up"></i>
</ng-template>